<div id="<%= dom_id friend %>">
  <p>
    <strong>Nome:</strong>
    <%= friend.nome %>
  </p>

  <p>
    <strong>Addres:</strong>
    <%= friend.addres %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

</div>
