<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= customer.birthday %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= customer.obs %>
  </p>

</div>
